<div *ngIf="alertMessage" class="alert alert-success">{{ alertMessage }}</div>

<div class="container">
  <h3>Acte: </h3>
  <div class="mb-2 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Data inici:</span>
    </div>
    <input  type="datetime-local" class="form-control" [(ngModel)]="acte.hora_inici">
  </div>

  <div class="mb-2 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Data final:</span>
    </div>
    <input  type="datetime-local" class="form-control" [(ngModel)]="acte.hora_fi">
  </div>
  <h3>Grup: </h3>
  <div class="mb-2 input-group">
    <div class=" input-group-prepend">
      <span class="input-group-text">Nom:</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="acte.grup.nom">
  </div>
  <div class="input-group">
    <div class=" input-group-prepend">
      <span class="input-group-text">Integrants:</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="acte.grup.integrants">
  </div>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="guardarActe()">Save</button>
  </div>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-light" routerLink="/actes">Back</button>
  </div>
</div>
