<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/actes">
    <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    GestioActes
  </a>
  <app-login *ngIf="login" class="navbar-brand"></app-login>
  <app-logout *ngIf="logout" class="navbar-brand"></app-logout>
</nav>
