<ul class=" mb-2 list-group">
    <li class="list-group-item text-dark btn btn-outline-light" *ngFor="let p of actes; let id=index" routerLink="/acte/{{id}}"><b> Acte {{p.numero+1}}:</b><br>Dia i hora d'inici: {{p.hora_inici | date:'long'}}</li>
    <a routerLink="/game/{{id}}"></a>
</ul>
  <div class="text-center">
    <button type="button" class="btn btn-primary" routerLink="/addActe">Add Acte</button>
  </div>
