<!---->
<div *ngIf="alertMessage" class="alert alert-success">{{ alertMessage }}</div>
<div class="container">
  <div class="mb-2 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Data inici:</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="acte.hora_inici">
  </div>

  <div class="mb-2 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Data final:</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="acte.hora_fi">
  </div>

  <div class="input-group">
    <div class=" input-group-prepend">
      <span class="input-group-text">Grup:</span>
    </div>
    <div class="h-25 form-control">
      <app-grup [grup]="acte"></app-grup>
    </div>
    <!-- <a type="text"  class="h-25 form-control list-group-item list-group-item-action" routerLink="/grup/{{id}}">{{acte.grup.nom}}</a>-->
  </div>
  <br>

  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="guardarActe()">Save</button>
  </div>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-light" routerLink="/actes">Back</button>
  </div>

</div>
