<div class="form-inline">
    <input type="email"[(ngModel)]="this.username" class="form-control mr-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Usermae">
<button type="submit" (click)="logIn()" class="btn btn-primary">Log in</button>
</div>
