<div class="container">
  <div class="mb-2 input-group">
    <div class=" input-group-prepend">
      <span class="input-group-text">Nom:</span>
    </div>
    <input type="text" [(ngModel)]="grup.grup.nom" class="form-control">
  </div>
  <div class="input-group">
    <div class=" input-group-prepend">
      <span class="input-group-text">Integrants:</span>
    </div>
    <input type="text" [(ngModel)]="grup.grup.integrants" class="form-control">
  </div>
</div>
